
*::after,
*::before {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
 background: #E5E5E5;
}

main {
  margin: 0% auto;
  height:100%;
  width: 1200px;
  box-sizing: border-box;
  border: 3px solid rgb(161, 155, 155);
  border-width:medium;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #FF0000;
  padding: 300px 75px;
}

.page_header {
}

/* navigation */

.nav {
  display: inline;
  align-items: center;
  list-style:none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px; 
}

.nav_list {
}
.nav_home {

}
.nav_photoapp {

 
}
.nav_design {
 
}
.nav_download {
 
}

/* image  */
.img {
  width:100%;
  height: auto;
}
 /* text */
 .txt_title {
  color: #373737;
  text-align: center;
  letter-spacing: 3.3px;
  margin-bottom: 38px;
 }
 .txt_item {
   color: #373737;
   margin-left: 67.5px;
   margin-right: 67.5px;
   margin-bottom: 28px;
   text-align: center;
   letter-spacing: 2.4px;
   margin-bottom: 28px;
 }
.txt_article {
    margin-top: 28px;
   color: #373737;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 66px;
   text-align: center;
   letter-spacing: 2.4px;
}
.button {
   font-family: "Montserrat", sans-serif;
   background-color:#FF0000;
   color: white;
   font-style: normal;
   font-weight: bold;
   font-size: 17px;
   line-height: 12px;
   width: 191px;
   height: 51px;
   border-radius: 4px; 
   position: relative;
   left: 50%;
   transform: translate(-50%,0);

  
}
.footer {
color: #373737;
display: flex;
flex-direction: row;
justify-content: flex-end;
padding: 30px;
}